/* Overwrite bootstrap */
.col-md-6 {
  padding: 0px;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

h1 {
  color: #3A4F62 !important;
}
h2 {
  padding: 30px;
  background-color: #3A4F62;
  color: #FFF;
}
h4 {
  color: #A5B4B5;
  text-transform: uppercase;
  text-align: right;
}

h5 {
  color: #BDC5C8;
  border-bottom: 1px solid #BDC5C8;
  margin: 20px 0px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.left-wrapper {
  padding: 10%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

table {
  width: 100%;
}
tr {
  margin-top: 15px;
}

td, th {
  padding: 5px 15px 5px 0px;
  font-weight: normal;
}
th {
  text-transform: uppercase;
}

.btn-wrap {
  text-align: center;
  margin: 15px 0px;
}
.btn-wrap button {
  width: 45%;
  background: #45AAE0;
  color: #FFF;
  height: 40px;
  box-shadow: 1px 2px 0px #3794C4;
  border: 0;
}

/* hCard Preview */
.right-wrapper{
  padding: 30% 10%;
  background: #E7E9EC;
  box-shadow: 0px 2px 0px #AAAAAA;
}

.vcard {
  background: #FFF;
}

.inner-wrapper {
  padding: 0px 20px 30px;
}

#hcard-table tr {
  border-bottom: 1px solid #e5e5e5; 
  height: 28px;
}
#hcard-table td {
  padding-top: 20px;
  width: 70%;
  width: 60px;
}
#hcard-table th {
  padding-top: 20px;
  width: 20%;
  color: #445C70;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
