  <div class="row">
    <div class="col-md-6">
      <div class="left-wrapper">
        <div class="header">
          <h1>hCardApp Builder</h1>
        </div>
        <form>
          <h5 class="text-left">PERSONAL DETAILS</h5>
          <table>
              <tr>
                <th>Given Name</th><th>Surname</th>
              </tr>
              <tr>
                <td><input type="text" class="form-control" id="givenname" placeholder="Given Name" ng-model="main.givenname"></td>
                <td><input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="main.surname"></td>
              </tr>
              <tr>
                <th>Email</th><th>Phone No.</th>
              </tr>
              <tr>
                <td><input type="email" class="form-control" id="email" placeholder="Email" ng-model="main.email"></td>
                <td><input type="phone" class="form-control" id="phone" placeholder="Phone No." ng-model="main.phone"></td>
              </tr>
          </table>
          <h5 class="text-left">ADDRESS</h5>
          <table>    
              <tr>
                <th>House Name or #</th><th>Street</th>
              </tr>
              <tr>
                <td><input type="text" class="form-control" id="house" placeholder="House Name or #" ng-model="main.house"></td>
                <td><input type="text" class="form-control" id="street" placeholder="Street Name" ng-model="main.street"></td>
              </tr>
              <tr>
                <th>Suburb</th><th>State</th>
              </tr>
              <tr>
                <td><input type="text" class="form-control" id="street" placeholder="Suburb Name" ng-model="main.suburb"></td>
                <td><input type="text" class="form-control" id="state" placeholder="State Name" ng-model="main.state"></td>
              </tr>
              <tr>
                <th>Post Code</th><th>Country</th>
              </tr>
              <tr>
                <td><input type="text" class="form-control" id="postcode" placeholder="Postcode" ng-model="main.postcode"></td>
                <td><input type="text" class="form-control" id="country" placeholder="Country" ng-model="main.country"></td>
              </tr>
          </table>
          <div class="btn-wrap"><button type="submit" class="btn btn-default">Create hCard</button></div>
        </form>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="right-wrapper">
        <h4>HCARD PREVIEW</h4>
        <div class="vcard">
          <h2><span class="fn">{{main.givenname}} {{main.surname}}</span></h2>
          <div class="inner-wrapper">
            <table id="hcard-table">
              <tr>
                <th>Email</th><td colspan="4"><a class="email" href="mailto:{{main.email}}">{{main.email}}</a></td>
              </tr>
              <tr>
                <th>Phone</th><td colspan="4"><div class="tel">{{main.phone}}</div></td>
              </tr>
              <tr>
                <th>Address</th><td colspan="4"><div class="street-address">{{main.house}} {{main.street}}</div></td>
              </tr>
              <tr>
                <th></th><td colspan="4"><span class="locality" ng-show="main.suburb">{{main.suburb}}, </span><abbr class="region" title="{{main.state}}">{{main.state}}</abbr></td>
              </tr>
              <tr>
                <th>Postcode</th><td><span class="postal-code">{{main.postcode}}</span></td><th>Country</th><td><div class="country-name">{{main.country}}</div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
</div>
  
